@media screen and (max-width: 992px) { 
	html {
		font-size: 90%;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 85%;
	}
	.nav__btn {
		display: block; 
	}
	.nav__list {
		display: none; 
	}
	.nav__list--open {
		display: block;
	}
	.nav__link {
		padding: 0.7rem; 
		display: inline-block; 
	}
}

@media screen and (max-width: 629px) {
	html {
		font-size: 83%;
	}
	.header__logo,
	.header__contact {
		float: none;
		text-align: center; 
	}
	.header__contact {
		margin-top: 1rem;
	}
	.slider__item {
		padding-top: 16rem; 
	}
	.grid__item {  
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.advantage {
		display: block;
	}
	.advantage__item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
	}
}